---
import { Picture } from 'astro:assets';
import ProfilePicture from '../assets/profile.png';

const profile = {
    name: 'Abhyudaya Gupta',
    title: 'Full Time Student',
    location: 'Gurugram, India',
    description: 'Passionate coder and developer with a strong interest in technology since childhood, currently a 16-year-old student at The Shri Ram School. I began coding at the age of 11 and have since gained experience across a variety of programming languages, frameworks, and AI model development. As the Secretary of ICT at my school, I actively contribute to tech initiatives while honing my skills in building innovative, efficient, and clean web applications with a modern tech stack. Specialized in Astro, TypeScript, and Python, and am always eager to learn, explore, and experiment with emerging technologies.'
};
---

<div class="flex flex-col gap-6 items-center text-center sm:items-start sm:text-left">

    <div class="flex flex-col sm:flex-row gap-4 sm:items-center">

        <Picture
            src={ProfilePicture}
            formats={['webp']}
            width={96}
            height={96}
            alt={'Profile picture ' + profile.name}
            title={profile.name}
            class="w-24 h-24 rounded-xl object-cover border-2 border-primary mx-auto sm:mx-0"
        />

        <div>

            <h1 class="text-2xl font-extrabold mb-1 inline-block relative text-text-primary">
                {profile.name}
            </h1>

            <p class="text-sm mb-2 text-primary">
                {profile.title}
            </p>

            <p class="flex items-center justify-center sm:justify-start text-sm text-gray-400">
                <svg class="-mt-0.5 inline mr-2"fill=none height=14 stroke=currentColor stroke-linecap=round stroke-linejoin=round stroke-width=2 viewBox="0 0 24 24"width=14 xmlns=http://www.w3.org/2000/svg><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx=12 cy=10 r=3></circle></svg>
                {profile.location}
            </p>

        </div>

    </div>

    <p class="text-sm leading-relaxed mt-2 text-gray-400">
        {profile.description}
    </p>

</div>